@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Inter Regular';
    src: url('{{asset('/assets/fonts/Inter/Inter_24pt-Regular.ttf')}}') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter Bold';
    src: url('{{asset('/assets/fonts/Inter/Inter_24pt-SemiBold.ttf')}}') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
